<h1>Eat Da Burger!</h1>

<h2>Welcome to Good Burger, Home of the Good Burger, May I Take Your Order?!</h2>

<h3>Fress Off the Grill!</h3>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{ id }}: {{burger_name}}
      <button type="button" class="devourButton" burger_id="{{ id }}">Devour!</button>
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers You Have Eaten!</h3>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{ id }}: {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Order A Burger</h2>
<h4>Enter a Burger You Want to Eat. Click the "Order Burger" Button.</h4>

<div>
  <form class="create-form" class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="addburger" placeholder="Enter a burger you would like to order" name="name">
    <button type="submit" id="burgerSubmit">Order Burger</button>
  </form>
</div>
